<div class="stats-container">
  <canvas baseChart
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [colors]="chartColors"
          [legend]="true"
          [chartType]="'line'">
  </canvas>
</div>

<div class="stats-container">
  <canvas baseChart
          [datasets]="ageData"
          [labels]="ageLabels"
          [options]="chartOptions"
          [colors]="chartColors"
          [legend]="true"
          [chartType]="'bar'">
  </canvas>
</div>

<div class="stats-container">
  <canvas baseChart
          [datasets]="sexData"
          [labels]="sexLabels"
          [options]="pieChartOptions"
          [colors]="pieChartColors"
          [legend]="true"
          [chartType]="'pie'">
  </canvas>
</div>
