<div class="exam-container">
  <div class="label-border">
    <div class="exam-label">
      <div class="vertical red">ELŐZMÉNYEK</div>
    </div>
  </div>
  <div [formGroup]="historicExamForm" class="exam-data-container">
    <div class="exam-number-container">
      <div class="flex-child">
        <div class="flex-line red">Sph.</div>
        <mat-form-field class="flex-line">
          <input matInput type="number" formControlName="rightDioptria" />
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input matInput type="number" formControlName="leftDioptria" />
        </mat-form-field>
      </div>
      <div class="flex-child">
        <div class="flex-line red">Cyl.</div>
        <mat-form-field class="flex-line">
          <input matInput type="number" formControlName="rightCilinder" />
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input matInput type="number" formControlName="leftCilinder" />
        </mat-form-field>
      </div>
      <div class="flex-child">
        <div class="flex-line red">Fok</div>
        <mat-form-field class="flex-line">
          <input matInput
                 type="number"
                 formControlName="rightFok"
                 />
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input matInput type="number" formControlName="leftFok" />
        </mat-form-field>
      </div>
    </div>
    <mat-form-field class="note-full-width">
          <textarea matInput
                    matTextareaAutosize
                    placeholder="Megjegyzés"
                    formControlName="notes">
          </textarea>
    </mat-form-field>
  </div>
</div>
