<div class="clients-container">

  <mat-form-field>
    <input matInput placeholder="Név" #name>
  </mat-form-field>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table class="clients-table mat-elevation-z8" [dataSource]="dataSource"
             matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon matTooltip="Név"
                  aria-label="View"
                  color="accent">person</mat-icon>
      </mat-header-cell>
      <mat-cell class="name" *matCellDef="let client">
        <span [matTooltip]="client.name" class="ellipsis">{{client.name}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon matTooltip="Születési dátum"
                  aria-label="View"
                  color="accent">perm_contact_calendar</mat-icon>
      </mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let client">{{client.dob | date:'yyyy-MM-dd'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tel">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon matTooltip="Telefonszám"
                  aria-label="View"
                  color="accent">phone</mat-icon>
      </mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let client">{{client.tel | phone}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon matTooltip="E-mail"
                  aria-label="View"
                  color="accent">alternate_email</mat-icon>
      </mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let client">
        <span [matTooltip]="client.email" class="ellipsis">{{client.email}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button matTooltip="Ügyfél létrehozása"
                mat-icon-button color="accent"
                [routerLink]="['/clients/new']">
          <mat-icon aria-label="Add">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let client; let i=index;">
        <button matTooltip="Ügyfél törlése"
                mat-icon-button color="accent"
                (click)="$event.stopPropagation(); openDialog(client)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></mat-header-row>
    <mat-row [routerLink]="['/clients', client.id]"
             *matRowDef="let client;
             columns: getDisplayedColumns()"></mat-row>

  </mat-table>

  <mat-paginator [pageSize]="pageSize"
                 [length]="dataSource.dataLength$"
                 [pageSizeOptions]="[3, 5, 10, 20]"></mat-paginator>

</div>
