.clients-container {
  text-align: center;
  min-width: 400px;
  max-width: 900px;
  padding: 10px; /*margin on mobile, cant use margin, it is used for centering*/
  margin: auto;
}

.clients-table {
  min-height: 360px;
}

mat-form-field {
  padding-right: 10px;
  padding-left: 10px;
}

.name {
  display: flex !important;
  justify-content: flex-start !important;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mat-row:hover {
  background-color: rgba(146, 146, 146, 0.25);
}
