<mat-card class="example-card">
  <div class="card-header">
    <mat-form-field class="date">
      <input matInput [ngModel]="visit.date | date:'yyyy-MM-dd'"
             (ngModelChange)="visit.date = $event" [matDatepicker]="picker" [disabled]="!edit">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div mat-card-avatar class="example-header-image"></div>
  </div>
  <mat-card-content class="flex-container">
    <div class="flex-child">
      <div class="flex-line red">dioptria</div>
      <mat-form-field class="flex-line">
        <input matInput type="text" [(ngModel)]="visit.rightEye.dioptria" [disabled]="!edit"/>
      </mat-form-field>
      <mat-form-field class="flex-line">
        <input matInput type="text" [(ngModel)]="visit.leftEye.dioptria" [disabled]="!edit"/>
      </mat-form-field>
    </div>
    <div class="flex-child">
      <div class="flex-line red">cilinder</div>
      <mat-form-field class="flex-line">
        <input matInput type="text" [(ngModel)]="visit.rightEye.cilinder" [disabled]="!edit"/>
      </mat-form-field>
      <mat-form-field class="flex-line">
        <input matInput type="text" [(ngModel)]="visit.leftEye.cilinder" [disabled]="!edit"/>
      </mat-form-field>
    </div>
    <div class="flex-child">
      <div class="flex-line red">fok</div>
      <mat-form-field class="flex-line">
        <input matInput type="text" [(ngModel)]="visit.rightEye.fok" [disabled]="!edit"/>
      </mat-form-field>
      <mat-form-field class="flex-line">
        <input matInput type="text" [(ngModel)]="visit.leftEye.fok" [disabled]="!edit"/>
      </mat-form-field>
    </div>
    <div class="flex-child">
      <div class="flex-line red">vizus</div>
      <mat-form-field class="flex-line">
        <input matInput type="text" [(ngModel)]="visit.rightEye.vizus" [disabled]="!edit"/>
      </mat-form-field>
      <mat-form-field class="flex-line">
        <input matInput type="text" [(ngModel)]="visit.leftEye.vizus" [disabled]="!edit"/>
      </mat-form-field>
    </div>
  </mat-card-content>
  <div>{{visit.notes}}</div>
  <mat-card-actions>
    <button mat-icon-button color="accent"
            (click)="edit=!edit;editStarted.emit()"
            *ngIf="!edit"
            [disabled]="anyUnderEdit && !edit">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="save.emit(); edit = !edit" *ngIf="edit">
      <mat-icon aria-label="Save">check</mat-icon>
    </button>

    <button mat-icon-button color="accent"
            (click)="del.emit()"
            *ngIf="!edit"
            [disabled]="anyUnderEdit && !edit">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="cancel.emit(); edit=false" *ngIf="edit">
      <mat-icon aria-label="Cancel">cancel</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
