<mat-card class="visit-card">
  <div class="card-header">
    <mat-form-field class="date">
      <input matInput [max]="today"
             [ngModel]="visit.date | date:'yyyy-MM-dd'"
             (ngModelChange)="visit.date = $event"
             [matDatepicker]="picker"
             [disabled]="!edit">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div mat-card-avatar class="exam-header-image"></div>
  </div>
  <mat-card-content>
    <div class="exam-container">
      <div class="label-border">
        <div class="exam-label">
          <div class="vertical red">ELŐZMÉNYEK</div>
        </div>
      </div>
      <div class="exam-data-container">
        <div class="exam-number-container">
          <div class="flex-child">
            <div class="flex-line red">Sph.</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.historicExam.rightEye.dioptria" [disabled]="!edit"/>
            </mat-form-field>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.historicExam.leftEye.dioptria" [disabled]="!edit"/>
            </mat-form-field>
          </div>
          <div class="flex-child">
            <div class="flex-line red">Cyl.</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.historicExam.rightEye.cilinder" [disabled]="!edit"/>
            </mat-form-field>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.historicExam.leftEye.cilinder" [disabled]="!edit"/>
            </mat-form-field>
          </div>
          <div class="flex-child">
            <div class="flex-line red">Fok</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.historicExam.rightEye.fok" [disabled]="!edit"/>
            </mat-form-field>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.historicExam.leftEye.fok" [disabled]="!edit"/>
            </mat-form-field>
          </div>
        </div>
        <mat-form-field class="note-full-width">
          <textarea matInput matTextareaAutosize placeholder="Megjegyzés" [(ngModel)]="visit.historicExam.notes"
                    [disabled]="!edit"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="exam-container">
      <div class="label-border">
        <div class="exam-label">
          <div class="vertical red">VISZGÁLAT</div>
        </div>
      </div>
      <div class="exam-data-container">
        <div class="exam-number-container">
          <div class="flex-child">
            <div class="flex-line red">Sph.</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.exam.rightEye.dioptria" [disabled]="!edit"/>
            </mat-form-field>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.exam.leftEye.dioptria" [disabled]="!edit"/>
            </mat-form-field>
          </div>
          <div class="flex-child">
            <div class="flex-line red">Cyl.</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.exam.rightEye.cilinder" [disabled]="!edit"/>
            </mat-form-field>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.exam.leftEye.cilinder" [disabled]="!edit"/>
            </mat-form-field>
          </div>
          <div class="flex-child">
            <div class="flex-line red">Fok</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.exam.rightEye.fok" [disabled]="!edit"/>
            </mat-form-field>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.exam.leftEye.fok" [disabled]="!edit"/>
            </mat-form-field>
          </div>
          <div class="flex-child">
            <div class="flex-line red">Visus</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.exam.rightEye.vizus" [disabled]="!edit"/>
            </mat-form-field>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.exam.leftEye.vizus" [disabled]="!edit"/>
            </mat-form-field>
          </div>
        </div>
        <mat-form-field class="note-full-width">
      <textarea matInput matTextareaAutosize placeholder="Megjegyzés" [(ngModel)]="visit.exam.notes"
                [disabled]="!edit"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="exam-container">
      <div class="label-border">
        <div class="exam-label">
          <div class="vertical red">KONT. LENCSE</div>
        </div>
      </div>
      <div class="exam-data-container">
        <div class="exam-number-container">
          <div class="flex-child">
            <div class="flex-line red">B.C</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.contactLenseExam.rightEye.szaruGorbulet"
                     [disabled]="!edit"/>
            </mat-form-field>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.contactLenseExam.leftEye.szaruGorbulet"
                     [disabled]="!edit"/>
            </mat-form-field>
          </div>
          <div class="flex-child">
            <div class="flex-line red">Sph.</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.contactLenseExam.rightEye.dioptria" [disabled]="!edit"/>
            </mat-form-field>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.contactLenseExam.leftEye.dioptria" [disabled]="!edit"/>
            </mat-form-field>
          </div>
          <div class="flex-child">
            <div class="flex-line red">Cyl.</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.contactLenseExam.rightEye.cilinder" [disabled]="!edit"/>
            </mat-form-field>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.contactLenseExam.leftEye.cilinder" [disabled]="!edit"/>
            </mat-form-field>
          </div>
          <div class="flex-child">
            <div class="flex-line red">Fok</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.contactLenseExam.rightEye.fok" [disabled]="!edit"/>
            </mat-form-field>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.contactLenseExam.leftEye.fok" [disabled]="!edit"/>
            </mat-form-field>
          </div>
        </div>
        <mat-form-field class="note-full-width">
      <textarea matInput matTextareaAutosize placeholder="Megjegyzés" [(ngModel)]="visit.contactLenseExam.notes"
                [disabled]="!edit"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="exam-container">
      <div class="label-border">
        <div class="exam-label">
          <div class="vertical red">VÁSÁRLÁS</div>
        </div>
      </div>
      <div class="exam-data-container">
        <div class="exam-number-container-shopping">
          <div class="flex-child-shopping">
            <div class="flex-line red">Keret</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.fees.frame"
                     [disabled]="!edit"/>
            </mat-form-field>
          </div>
          <div class="flex-child-shopping">
            <div class="flex-line red">J. lencse</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.fees.rightLense" [disabled]="!edit"/>
            </mat-form-field>
          </div>
          <div class="flex-child-shopping">
            <div class="flex-line red">B. lencse</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.fees.leftLense" [disabled]="!edit"/>
            </mat-form-field>
          </div>
          <div class="flex-child-shopping">
            <div class="flex-line red">Munka</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.fees.service" [disabled]="!edit"/>
            </mat-form-field>
          </div>
          <div class="flex-child-shopping">
            <div class="flex-line red">Vizsg.</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.fees.exam" [disabled]="!edit"/>
            </mat-form-field>
          </div>
          <div class="flex-child-shopping">
            <div class="flex-line red">Egyéb</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.fees.other" [disabled]="!edit"/>
            </mat-form-field>
          </div>
          <div class="flex-child-shopping border-top border-bottom">
            <div class="flex-line red">Végösszeg</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [ngModel]="calculateTotal()" [disabled]="true"/>
            </mat-form-field>
          </div>
          <div class="flex-child-shopping">
            <div class="flex-line red">Kedvezmény (%)</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.fees.discount" [disabled]="!edit"/>
            </mat-form-field>
          </div>
          <div class="flex-child-shopping">
            <div class="flex-line red">Kedvezmény (Ft)</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [ngModel]="calculateDiscount()" [disabled]="true"/>
            </mat-form-field>
          </div>
          <div class="flex-child-shopping">
            <div class="flex-line red">Fizetett</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [(ngModel)]="visit.fees.paid" [disabled]="!edit"/>
            </mat-form-field>
          </div>
          <div class="flex-child-shopping border-top">
            <div class="flex-line red">Fizetendő</div>
            <mat-form-field class="flex-line">
              <input matInput type="number" [ngModel]="calculateToBePaid()" [disabled]="true"/>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <mat-form-field class="note-full-width">
      <textarea matInput matTextareaAutosize placeholder="Vásárlási megjegyzés" [(ngModel)]="visit.shoppingNotes"
                [disabled]="!edit"></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="accent"
            (click)="edit=!edit;editStarted.emit()"
            *ngIf="!edit"
            [disabled]="anyUnderEdit && !edit">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="save.emit(); edit = !edit" *ngIf="edit">
      <mat-icon aria-label="Save">check</mat-icon>
    </button>

    <button mat-icon-button color="accent"
            (click)="del.emit()"
            *ngIf="!edit"
            [disabled]="anyUnderEdit && !edit">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="cancel.emit(); edit=false" *ngIf="edit">
      <mat-icon aria-label="Cancel">cancel</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
