.visit-card {
  max-width: 500px;
  margin: auto auto 40px;
}

.exam-header-image {
  background-image: url('../../assets/exam.png');
  background-size: cover;
  margin-bottom: 30px;
}

.shopping-header-image {
  background-image: url('../../assets/shopping.png');
  background-size: cover;
  margin-bottom: 30px;
}

.flex-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid red;
  padding-top: 15px;
  max-width: 500px;
}

.flex-child {
  flex: 1;
}

.flex-line {
  max-width: 100px;
  margin: auto;
}

.date {
  float: right;
  /*color: red;*/
}

.example-full-width {
  width: 100%;
}

.select {
  margin: 10px;
}
