<mat-form-field class="note-full-width">
      <textarea matInput
                matTextareaAutosize
                placeholder="Keret típusa"
                [(ngModel)]="visit.frame"
                [disabled]="!edit"></textarea>
</mat-form-field>
<mat-form-field class="note-full-width">
      <textarea matInput
                matTextareaAutosize
                placeholder="Lencse típusa"
                [(ngModel)]="visit.lense"
                [disabled]="!edit"></textarea>
</mat-form-field>
