<div class="exam-container">
  <div class="label-border">
    <div class="exam-label">
      <div class="vertical red">ELSZÁMOLÁS</div>
    </div>
  </div>
  <div class="exam-data-container">
    <div class="exam-number-container-shopping">
      <div class="flex-child-shopping">
        <div class="flex-line-shopping red">Keret</div>
        <mat-form-field class="flex-line-shopping">
          <input matInput type="number" [(ngModel)]="fees.frame"
                 />
        </mat-form-field>
      </div>
      <div class="flex-child-shopping">
        <div class="flex-line-shopping red">J. lencse</div>
        <mat-form-field class="flex-line-shopping">
          <input matInput type="number" [(ngModel)]="fees.rightLense" />
        </mat-form-field>
      </div>
      <div class="flex-child-shopping">
        <div class="flex-line-shopping red">B. lencse</div>
        <mat-form-field class="flex-line-shopping">
          <input matInput type="number" [(ngModel)]="fees.leftLense" />
        </mat-form-field>
      </div>
      <div class="flex-child-shopping">
        <div class="flex-line-shopping red">Munkadíj</div>
        <mat-form-field class="flex-line-shopping">
          <input matInput type="number" [(ngModel)]="fees.service" />
        </mat-form-field>
      </div>
      <div class="flex-child-shopping">
        <div class="flex-line-shopping red">Vizsgálat</div>
        <mat-form-field class="flex-line-shopping">
          <input matInput type="number" [(ngModel)]="fees.exam" />
        </mat-form-field>
      </div>
      <div class="flex-child-shopping">
        <div class="flex-line-shopping red">Egyéb</div>
        <mat-form-field class="flex-line-shopping">
          <input matInput type="number" [(ngModel)]="fees.other" />
        </mat-form-field>
      </div>
      <div class="flex-child-shopping border-top border-bottom">
        <div class="flex-line-shopping red">Végösszeg</div>
        <mat-form-field class="flex-line-shopping">
          <input matInput type="number" [ngModel]="calculateTotal()" [disabled]="true"/>
        </mat-form-field>
      </div>
      <div class="flex-child-shopping">
        <div class="flex-line-shopping red">Kedvezmény (%)</div>
        <mat-form-field class="flex-line-shopping">
          <input matInput type="number" [(ngModel)]="fees.discountPercent" />
        </mat-form-field>
      </div>
      <div class="flex-child-shopping">
        <div class="flex-line-shopping red">Kedvezmény (Ft)</div>
        <mat-form-field class="flex-line-shopping">
          <input matInput type="number" [ngModel]="calculateDiscount()" [disabled]="true"/>
        </mat-form-field>
      </div>
      <div class="flex-child-shopping">
        <div class="flex-line-shopping red">Fizetett</div>
        <mat-form-field class="flex-line-shopping">
          <input matInput type="number" [(ngModel)]="fees.paid" />
        </mat-form-field>
      </div>
      <div class="flex-child-shopping border-top">
        <div class="flex-line-shopping red">Fizetendő</div>
        <mat-form-field class="flex-line-shopping">
          <input matInput type="number" [ngModel]="calculateToBePaid()" [disabled]="true"/>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
