<div class="exam-container">
  <div class="label-border">
    <div class="exam-label">
      <div class="vertical red">VISZGÁLAT</div>
    </div>
  </div>
  <div class="exam-data-container">
    <div class="exam-number-container">
      <div class="flex-child">
        <div class="flex-line red">Sph.</div>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="exam.rightEye.dioptria" />
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="exam.leftEye.dioptria" />
        </mat-form-field>
      </div>
      <div class="flex-child">
        <div class="flex-line red">Cyl.</div>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="exam.rightEye.cilinder" />
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="exam.leftEye.cilinder" />
        </mat-form-field>
      </div>
      <div class="flex-child">
        <div class="flex-line red">Fok</div>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="exam.rightEye.fok" />
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="exam.leftEye.fok" />
        </mat-form-field>
      </div>
      <div class="flex-child">
        <div class="flex-line red">Visus</div>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="exam.rightEye.vizus" />
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="exam.leftEye.vizus" />
        </mat-form-field>
      </div>
    </div>
    <div class="exam-number-container">
      <div class="flex-child">
        <div class="flex-line red">Add.</div>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="exam.rightEye.add" />
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="exam.leftEye.add" />
        </mat-form-field>
      </div>
      <div class="flex-child">
        <div class="flex-line red">PD</div>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="exam.rightEye.pd" />
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="exam.leftEye.pd" />
        </mat-form-field>
      </div>
      <div class="flex-child">
        <div class="flex-line red">Bifo. mag.</div>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="exam.rightEye.bifoMag" />
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="exam.leftEye.bifoMag" />
        </mat-form-field>
      </div>
    </div>
    <mat-form-field class="note-full-width">
          <textarea matInput matTextareaAutosize placeholder="Megjegyzés"
                    [(ngModel)]="exam.notes"
                    ></textarea>
    </mat-form-field>
  </div>
</div>
