<div class="client-details-container">
  <mat-list>
    <mat-list-item><span>Név:&nbsp;</span>{{client.name}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span>Szül. év:&nbsp;</span>{{client.dob}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span>Tel:&nbsp;</span>{{client.tel}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><span>Email:&nbsp;</span>{{client.email}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item ><span>Látogatás dátuma:&nbsp;</span>{{client.visits[0].date}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>

<div class="clients-container">
  <mat-label>Látogatások</mat-label>

  <mat-table class="clients-table mat-elevation-z8" [dataSource]="client.visits"
             matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="{{col}}" *ngFor="let col of displayedColumns">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{propertyToDisplayedName.get(col)}}
      </mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let element">
        <div *ngIf="!element.isEdit">
          <div class="btn-edit" *ngIf="col === '$$edit'; else spanHeader" >
            <button (click)="element.isEdit = !element.isEdit">Edit</button>
          </div>
          <ng-template #spanHeader>
            <span>
              {{col | propertyReader:element}}
            </span>
          </ng-template>
        </div>
        <div *ngIf="element.isEdit">
          <div class="btn-edit" *ngIf="col === '$$edit'; else dataField">
            <button (click)="element.isEdit = !element.isEdit">Done</button>
          </div>
          <ng-template #dataField>
            <mat-form-field>
              <!--              <mat-label>{{col}}</mat-label>-->
              <input matInput [ngModel]="col | propertyReader:element">
            </mat-form-field>
          </ng-template>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let client; columns: displayedColumns"></mat-row>

  </mat-table>
</div>
