<div class="clients-container">
  <mat-card class="example-card client-details-container">
    <mat-card-content>
      <mat-list>
        <div class="personal-info-line"><span>Név:&nbsp;</span>{{client.name}}</div>
        <div class="personal-info-line"><span>Szül. év:&nbsp;</span>{{client.dob}}</div>
        <div class="personal-info-line"><span>Tel:&nbsp;</span>{{client.tel | phone}}</div>
        <div class="personal-info-line"><span>Email:&nbsp;</span>{{client.email}}</div>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <button mat-icon-button class="add" color="accent" (click)="client.visits.unshift(newVisit)">
    <mat-icon aria-label="Add">add</mat-icon>
  </button>
</div>

<div class="clients-container">
  <visit *ngFor="let visit of client.visits" [visit]="visit" (save)="save()"></visit>
</div>
