.light-grey-background {
  background-color: #505050;
}

.clients-container {
  text-align: center;
  min-width: 300px;
  max-width: 500px;
  padding: 10px; /*margin on mobile, cant use margin, it is used for centering*/
  margin: 40px auto;
}

.personal-info-card {
  margin: auto;
  border: red solid 2px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.flex-child {
  flex: 1;
}

.centralized {
  margin: auto
}

span {
  color: #f44336;
}

.flex-line {
  max-width: 150px;
  margin: auto;
}

.padding-vertical {
  padding-top: 10px;
  padding-bottom: 10px;
}
