<div class="exam-container">
  <div class="label-border">
    <div class="exam-label">
      <div class="vertical red">KONT. LENCSE</div>
    </div>
  </div>
  <div class="exam-data-container" [formGroup]="contactLenseForm">
    <div class="exam-number-container">
      <div class="flex-child">
        <div class="flex-line red">B.C</div>
        <mat-form-field class="flex-line">
          <input formControlName="rightSzaruGorbulet" matInput type="number"
          />
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input formControlName="leftSzaruGorbulet" matInput type="number"
          />
        </mat-form-field>
      </div>
      <div class="flex-child">
        <div class="flex-line red">Sph.</div>
        <mat-form-field class="flex-line">
          <input formControlName="rightDioptria" matInput type="number"/>
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input formControlName="leftDioptria" matInput type="number"/>
        </mat-form-field>
      </div>
      <div class="flex-child">
        <div class="flex-line red">Cyl.</div>
        <mat-form-field class="flex-line">
          <input formControlName="rightCilinder" matInput type="number"/>
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input formControlName="leftCilinder" matInput type="number"/>
        </mat-form-field>
      </div>
      <div class="flex-child">
        <div class="flex-line red">Fok</div>
        <mat-form-field class="flex-line">
          <input formControlName="rightFok" matInput type="number"/>
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input formControlName="leftFok" matInput type="number"/>
        </mat-form-field>
      </div>
    </div>
    <mat-form-field class="note-full-width">
      <textarea formControlName="notes" matInput matTextareaAutosize placeholder="Megjegyzés"></textarea>
    </mat-form-field>
  </div>
</div>
