<div class="exam-container">
  <div class="label-border">
    <div class="exam-label">
      <div class="vertical red">KONT. LENCSE</div>
    </div>
  </div>
  <div class="exam-data-container">
    <div class="exam-number-container">
      <div class="flex-child">
        <div class="flex-line red">B.C</div>
        <mat-form-field class="flex-line">
          <input [(ngModel)]="contactLenseExam.rightEye.szaruGorbulet" matInput type="number"
          />
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input [(ngModel)]="contactLenseExam.leftEye.szaruGorbulet" matInput type="number"
          />
        </mat-form-field>
      </div>
      <div class="flex-child">
        <div class="flex-line red">Sph.</div>
        <mat-form-field class="flex-line">
          <input [(ngModel)]="contactLenseExam.rightEye.dioptria" matInput type="number"/>
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input [(ngModel)]="contactLenseExam.leftEye.dioptria" matInput type="number"/>
        </mat-form-field>
      </div>
      <div class="flex-child">
        <div class="flex-line red">Cyl.</div>
        <mat-form-field class="flex-line">
          <input [(ngModel)]="contactLenseExam.rightEye.cilinder" matInput type="number"/>
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input [(ngModel)]="contactLenseExam.leftEye.cilinder" matInput type="number"/>
        </mat-form-field>
      </div>
      <div class="flex-child">
        <div class="flex-line red">Fok</div>
        <mat-form-field class="flex-line">
          <input [(ngModel)]="contactLenseExam.rightEye.fok" matInput type="number"/>
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input [(ngModel)]="contactLenseExam.leftEye.fok" matInput type="number"/>
        </mat-form-field>
      </div>
    </div>
    <mat-form-field class="note-full-width">
      <textarea [(ngModel)]="contactLenseExam.notes" matInput matTextareaAutosize placeholder="Megjegyzés"
      ></textarea>
    </mat-form-field>
  </div>
</div>
