.visit-card {
  margin: auto auto 40px;
}

.exam-header-image {
  background-image: url('../../../assets/exam.png');
  background-size: cover;
  margin-bottom: 30px;
}

.exam-container {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid red;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.flex-child {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: center;
  padding: 10px;
}

.flex-line {
  max-width: 70px;
  margin: auto;
}

.date {
  float: right;
}

.note-full-width {
  width: 80%;
  margin: auto;
}

.select {
  margin: 10px;
}

.vertical {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-align: center;
  margin: auto;
}

.exam-data-container {
  display: flex;
  flex: 15;
  flex-direction: column;
  margin: 10px auto;
}

.exam-number-container {
  display: flex;
  flex-wrap: wrap;
}

.exam-label {
  margin: auto;
}

.label-border {
  display: flex;
  flex: 1;
  border-right: 1px solid gray;
}

.flex-child-shopping {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-content: center;
}

.exam-number-container-shopping {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-line-shopping {
  width: 50%;
  max-width: 70px;
  margin: auto;
}

.border-bottom {
  border-bottom: 1px solid red
}

.border-top {
  border-top: 1px solid red
}
