<div class="exam-container">
  <div class="label-border">
    <div class="exam-label">
      <div class="vertical red">KONT. LENCSE</div>
    </div>
  </div>
  <div class="exam-data-container">
    <div class="exam-number-container">
      <div class="flex-child">
        <div class="flex-line red">B.C</div>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="contactLenseExam.rightEye.szaruGorbulet"
                 [disabled]="!edit"/>
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="contactLenseExam.leftEye.szaruGorbulet"
                 [disabled]="!edit"/>
        </mat-form-field>
      </div>
      <div class="flex-child">
        <div class="flex-line red">Sph.</div>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="contactLenseExam.rightEye.dioptria" [disabled]="!edit"/>
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="contactLenseExam.leftEye.dioptria" [disabled]="!edit"/>
        </mat-form-field>
      </div>
      <div class="flex-child">
        <div class="flex-line red">Cyl.</div>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="contactLenseExam.rightEye.cilinder" [disabled]="!edit"/>
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="contactLenseExam.leftEye.cilinder" [disabled]="!edit"/>
        </mat-form-field>
      </div>
      <div class="flex-child">
        <div class="flex-line red">Fok</div>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="contactLenseExam.rightEye.fok" [disabled]="!edit"/>
        </mat-form-field>
        <mat-form-field class="flex-line">
          <input matInput type="number" [(ngModel)]="contactLenseExam.leftEye.fok" [disabled]="!edit"/>
        </mat-form-field>
      </div>
    </div>
    <mat-form-field class="note-full-width">
      <textarea matInput matTextareaAutosize placeholder="Megjegyzés" [(ngModel)]="contactLenseExam.notes"
                [disabled]="!edit"></textarea>
    </mat-form-field>
  </div>
</div>
